html {
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
  				box-sizing: inherit;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
  			url('../../fonts/roboto-v20-cyrillic_latin-regular.woff2') format('woff2'), 
  			url('../../fonts/roboto-v20-cyrillic_latin-regular.woff') format('woff'); 
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'),
  			url('../../fonts/roboto-v20-cyrillic_latin-italic.woff2') format('woff2'), 
  			url('../../fonts/roboto-v20-cyrillic_latin-italic.woff') format('woff'); 
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
  		url('../../fonts/roboto-v20-cyrillic_latin-700.woff2') format('woff2'), 
  		url('../../fonts/roboto-v20-cyrillic_latin-700.woff') format('woff'); 
}

body {
	margin: 0;
	min-width: 320px;
	background-color: white;
	font: 16px 'Roboto', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

/*Хэдер*/
.header {
	padding: 0 24px 0 24px;
}

.header__top {
	position: relative;
	padding: 30px 0 64px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
			-ms-flex-pack: justify;
					justify-content: space-between;
	-webkit-box-align: center;
			-ms-flex-align: center;
					align-items: center;
}

.header__menu-button {
	display: none;
	width: 45px;
	height: 32px;
	background: url(../icons/menu_button.png) no-repeat;
	border: none;
	outline: none;
	cursor: pointer;
	background-size: cover;
}

.menu__item {
	display: inline-block;
	margin-left: 28px;
}

.menu__item:first-child {
	margin-left: 0;
}

.menu__link {
	display: inline-block;
}

.menu__link:after {
	content: "";
	display: block;
	background-color: #fc557c;
	height: 2px;
	width: 0;
	-webkit-transition: width .3s ease-in-out;
	transition: width .3s ease-in-out;
}

.menu__link:hover {
	color: #fc557c;
}

.menu__link:hover::after, menu__link:focus::after {
	width: 100%;
}

.header__phone {
	display: inline-block;
	font-weight: bold;
	font-size: 25px;
}

.form-button {
	color: #f53f4f;
	font-size: 17px;
	background: transparent;
	border: 1px solid #f82370;
	outline: none;
	padding: 13px 39px 9px 37px;
	cursor: pointer;
}

.header__form {
	margin-left: 25px;
}

.banner {
	height: calc(100vh - 138px);
	width: 100%;
	position: relative;
	overflow: hidden;
}
/*Летающие элементы*/

.elements {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.elements__item {
  position: absolute;
  left: 50%;
  top: 50%;
	font-size: 0;
	font-weight: 700;
	color: #ff2f96;
}

.elements--active {
	z-index: -1;
}

.elements--active .elements__item-brace {
  font-size: 50px;
  left: 7%;
	top: -1%;
	-webkit-transform:  rotate(23deg);
					transform:  rotate(23deg);
	-webkit-transition: ease-in-out 8s;
	transition: ease-in-out 8s;
}

.elements--active .elements__item-id {
  top: 44%;
	left: 13%;
	font-size: 54px;
	-webkit-transform: rotate(16deg);
					transform: rotate(16deg);
	-webkit-transition: ease-in-out 6s;
	transition: ease-in-out 6s;
}

.elements--active .elements__item-tag {
  top: 83%;
  left: 20%;
  font-size: 42px;
	-webkit-transform: rotate(-24deg);
					transform: rotate(-24deg);
	-webkit-transition: ease-in-out 9s;
	transition: ease-in-out 9s;
}

.elements--active .elements__item-tag2 {
	display: none;
	top: 234px;
	left: 42%;
	font-size: 40px;
  -webkit-transform: rotate(13deg);
  				transform: rotate(13deg);
  -webkit-transition: ease-in-out 7s;
  transition: ease-in-out 7s;
}

.elements--active .elements__item-div {
  top: 4%;
  left: 41%;
	font-size: 31px;
	-webkit-transform: rotate(-14deg);
					transform: rotate(-14deg);
	-webkit-transition: ease-in-out 4s;
	transition: ease-in-out 4s;
}

.elements--active .elements__item-div2 {
	top: 79%;
  left: 49%;
  font-size: 35px;
  -webkit-transform: rotate(20deg);
  				transform: rotate(20deg);
	-webkit-transition: ease-in-out 5s;
	transition: ease-in-out 5s;
}

.banner__wrapper {
	position: relative;
	width: 100%;	
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.banner-info {
	align-self: center;
}

.h--1 {
	font-size: 80px;
	margin-top: 0;
	margin-bottom: 14px;
}

.banner__text {
	font-size: 25px;
	margin: 0 0 65px 0;
	color: #8993ad;
}

.info-link {
	font-size: 18px;
	color: #FFF;
	padding: 20px 72px 18px;
	background-color: #ff4e2e;
	border: none;
	outline: none;
	cursor: pointer;
}

.banner__picture {
	position: absolute;
	right: 0;
	bottom: 0;
}

#banner__bg {
	position: absolute;
	left: -12%;
	z-index: -10;
}

/*Центральная часть*/

.main__info {
	padding: 83px 24px 210px 40px;
	text-align: center;
}

.h--2 {
	font-size: 54px;
	font-weight: bold;
	text-align: center;
	margin: 0 0 86px 0;
}

.main__services {
	color: #8993ad;
	font-size: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
			-ms-flex-pack: center;
					justify-content: center;
	margin-bottom: 112px;
}

.service__item {
	display: inline-block;
	padding-top: 95px;
	margin: 0;
	max-width: 300px;
	line-height: 30px;
}

.service__item--verstka {
	background: url(../icons/icon-verstka.png) center top/ 80px 74px no-repeat;
}

.service__item--adaptiv {
	background: url(../icons/icon-adaptive.png) center top/ 79px 74px no-repeat;
}

.service__item--frontend {
	background: url(../icons/icon-frontend.png) center top/ 74px 74px no-repeat;
}

.service__item--coding {
	background: url(../icons/icon-coding.png) center top/ 74px 74px no-repeat;
}

.main__services figcaption {
	margin-top: 16px;
  line-height: 29px;
}

.main__price {
	font-size: 18px;
	color: #FFF;
	padding: 20px 59px 18px;
	background-color: #ff4e2e;
	border: none;
	outline: none;
	cursor: pointer;
}

.main__slider {
	margin-bottom: 120px;
	text-align: center;
}

.slider__h2 {
	margin-bottom: 100px;
}

.swiper-container {
	padding: 0 20px;
	cursor: pointer;
	margin-bottom: 109px;
}

.swiper-wraper {
	width: 100%;
}

.swiper__img {
	width: 100%;
	margin-bottom: 45px;
}

.swiper-slide__desc {
	color: #8993ad;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	font-weight: 500;
}

.slider__button::after {
	display: none;
}

.slider__button {
	width: 60px;
	height: 60px;
	top: 40%;
	background: #FFF url('../icons/arrow.png') center no-repeat;
	border-radius: 50%;
	border: none;
	outline: none;
	-webkit-box-shadow: -10px 0 6px #f4f4f4;
					box-shadow: -10px 0 6px #f4f4f4;
	cursor: pointer;
}

.slider__button--right {
	-webkit-transform: rotate(180deg);
					transform: rotate(180deg);	
}

.swiper-pagination {
	display: none;
}

.swiper-pagination-bullet {
	width: 18px;
	height: 18px;
	margin: 0 15px;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 15px;
}

.swiper-pagination-bullet-active {
	background-color: #ff4e2e;
}

.main__banner {
	position: relative;
	background: linear-gradient(13deg, #ff8f5a, #ff2f96);
}

.price__text {
	color: #FFF;
	text-align: left;
	padding: 80px 113px 78px;
}

.price__info {
	font-size: 45px;
	font-weight: bold;
	margin-bottom: 39px;
}

.price__note {
	font-size: 18px;
	line-height: 30px;
}

.elements__item--white {
	color: #FFF;
	z-index: 0;
}

.main__brace {
	font-size: 46px;
  -webkit-transform: rotate(30deg);
  				transform: rotate(30deg);
  left: 7%;
  top: 17%;
}

.main__id {
	font-size: 57px;
  -webkit-transform: rotate(14deg);
  				transform: rotate(14deg);
  left: 13%;
  top: 68%;
}

.main__tag {
	font-size: 40px;
  -webkit-transform: rotate(-25deg);
  				transform: rotate(-25deg);
	left: 86%;
	top: 20%;
}

.main__div {
	font-size: 36px;
  -webkit-transform: rotate(23deg);
  				transform: rotate(23deg);
  top: 83%;
  left: 74%;
}

.main__brace2 {
	font-size: 48px;
	-webkit-transform: rotate(-19deg);
					transform: rotate(-19deg);
	left: 92%;
  top: 70%;
}

/*Футер*/

.footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
			-ms-flex-pack: justify;
					justify-content: space-between;
	padding: 81px 0 66px;
}

.menu__item--column {
	display: block;
	font-size: 18px;
	color: #adb4c5;
	margin-bottom: 11px;
	margin-left: 0;
}

.menu__item--column:last-child {
	margin-bottom: 0;
}

.contacts {
	font-size: 25px;
}

.contacts__items:first-child {
	margin-bottom: 28px;
}

.contacts__link--phone {
	background-image: url(../icons/phone.svg);
	background-repeat: no-repeat;
	background-size: contain;
	padding-left: 35px;
}

.contacts__link--mail {
	background-image: url(../icons/mail.svg);
	background-repeat: no-repeat;
	background-size: contain;
	padding-left: 35px;
}


.footer__form-button {
	padding: 10px 60px 10px 59px;
	margin-bottom: 27px;
	margin-left: 0;
}

.line__break {
	display: none;
}

.footer__form {
	margin-bottom: 27px;
}

.social__item {
	display: inline-block;
	width: 50px;
	height: 30px;
}

.social__link {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.social__link--vk {
	background: url(../icons/vk-logo.svg) center no-repeat;
}

.social__link--facebook {
	background: url(../icons/facebook-logo.svg) center no-repeat;
}

.social__link--twitter {
	background: url(../icons/twitter-logo.svg) center no-repeat;
}

.social__link--instagram {
	background: url(../icons/instagram-logo.svg) center no-repeat;
}

.footer__copyright {
	display: inline-block;
	width: 100%;
	background-color: #31293c;
	text-align: center;
	padding: 39px 0;
	color: #FFF;
}

/*Стили формы обратной связи*/


.form__container {
	display: none;
  width: 300px;
  height: 400px;
  padding: 40px 30px;
	text-align: center;
	background: #FFF;
	border: 1px solid #adb4c5; 
	border-radius: 5px;
	position: fixed;
	top: 20%;
	left: 50%;
	margin-left: -150px;
	z-index: 10;
}

.form__close {
  width: 16px;
  height: 16px;
  padding: 2px;
  position: absolute;
  right: 10px;
	top: 10px;
	cursor: pointer;
	background: url(../icons/cross.svg) center/cover no-repeat;
	border: none;
	outline: none;
}

.h--3 {
  text-transform: uppercase;
  margin-bottom: 35px;
}

.form__label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  		-ms-flex-direction: column;
  				flex-direction: column;
  -webkit-box-align: center;
  		-ms-flex-align: center;
  				align-items: center;
  margin-bottom: 25px;
}

.form__name {
  font-size: 16px;
	font-weight: 700;
	margin-bottom: 10px;
}

.form__input {
  width: 250px;
  height: 40px;
  border: 1px solid #adb4c5;
  border-radius: 2px;
  padding-left: 20px;
  outline: none;
}

.form__submit {
  width: 100%;
  height: 40px;
  padding: 0;
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  		-ms-flex-pack: center;
  				justify-content: center;
  -webkit-box-align: center;
  		-ms-flex-align: center;
  				align-items: center;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid #adb4c5;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

/* Media */

@media (max-width: 1366px) {
	.header__menu {
		display: none;
		width: 100%;
		position: absolute;
		left: 0;
		top: 85px;
		z-index: 2;
	}

	.header__menu-button {
		display: block;
	}

	.banner {
		padding-left: 24px;
	}

	.h--1 {
		font-size: 54px;
		margin-bottom: 19px;
	}

	.banner__text {
		margin-bottom: 68px;
	}

	.banner__services {
		padding: 23px 97px;
	}

	.swiper-container {
		padding: 0 35px;
		margin-bottom: 110px;
	}

	.footer {
		padding-left: 40px;
		padding-right: 40px;
	}
}

@media (max-width: 1024px) {

	.header {
		padding: 0 40px;
	}

	.banner {
		padding-left: 40px;
	}

	.elements--active .elements__item-brace {
    top: 3%;
	}

	.elements--active .elements__item-id {
		top: 78%;
    left: 6%;
	}

	.elements--active .elements__item-tag {
    top: 70%;
		left: 34%;
	}

	.elements--active .elements__item-tag2 {
    display: block;
    top: 15%;
		left: 41%;
	}

	.elements--active .elements__item-div {
    top: 2%;
		left: 86%;
	}

	.elements--active .elements__item-div2 {
    top: 62%;
    left: 90%;
	}

	#banner__bg {
		width: 920px;
    height: 620px;
    top: 106px;
	}

	.main__services {
		-ms-flex-wrap: wrap;
				flex-wrap: wrap;
		-webkit-box-pack: space-evenly;
				-ms-flex-pack: space-evenly;
						justify-content: space-evenly;
		padding: 0 70px 0 50px;
	}

	.service__item:nth-child(1), .service__item:nth-child(2) {
		margin-bottom: 78px;
	}

	.main__price {
		padding: 24px 83px 22px;
	}

	.main__slider {
		margin-bottom: 124px;
	}

	.swiper-container {
		padding-bottom: 118px;
	}

	.swiper__img {
		margin-bottom: 3px;
	}

	.swiper-slide__desc {
		font-size: 25px;
	}

	.slider__button {
		display: none;
	}

	.swiper-pagination {
		display: inline-block;
	}

	.price__text {
		padding: 78px 39px 86px 42px;
	}

	.price__info {
		margin-bottom: 31px;
	}

	.main__brace2, .main__id {
		display: none;
	}

	.main__brace {
		font-size: 30px;
    left: 15%;
    top: 5%;
	}

	.main__tag {
		left: 85%;
    top: 78%;
	}

	.main__div {
		font-size: 23px;
    top: 83%;
    left: 50%;
	}	

	.footer {
		padding-top: 105px;
		padding-bottom: 76px;
	}

	.footer__copyright {
		padding: 32px 0;
	}	
}

@media (max-width: 960px){
	

	.header {
		padding: 0;
	}

	.header__top {
		padding-left: 40px;
		padding-right: 40px;
	}

	.header__menu {
		left: 40px;
	}

	.banner {
		height: auto;
		padding-left: 0;
	}

	.banner__wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
				-ms-flex-direction: column;
						flex-direction: column;
	}

	.banner__picture {
		position: relative;
		-webkit-box-ordinal-group: 0;
				-ms-flex-order: -1;
						order: -1;
		overflow: hidden;
	}

	.banner-info {
		padding: 70px 0 22px;
		text-align: center;
	}

	.elements--active .elements__item-brace {
    left: 16%;
		top: -6%;
		font-size: 22px;
	}

	.elements--active .elements__item-id {
    top: 12%;
		left: 12%;
		font-size: 28px;
	}

	.elements--active .elements__item-tag {
    top: -9%;
		left: 55%;
		font-size: 16px;
	}

	.elements--active .elements__item-div {
		display: none;
	}

	.elements--active .elements__item-div2 {
    top: 2%;
		left: 77%;
		font-size: 14px;
	}

	.main__info {
		padding-bottom: 125px;
	}
}

@media (max-width: 783px) {
	.header__contacts {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
				-ms-flex-align: center;
						align-items: center;
	}

	.header__form {
		font-size: 0;
		width: 33px;
		height: 33px;
		border-radius: 100%;
		padding: 0;
		background: url(../../icons/call-answer.svg) no-repeat;
		background-position: center;
		background-size: 17px;
	}

	.service__item:not(:last-of-type) {
		margin-bottom: 50px;
	}

	.footer {
		-ms-flex-wrap: wrap;
				flex-wrap: wrap;
	}

	.line__break {
		display: block;
		width: 100%;
	}

	.footer__social {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
				-ms-flex-direction: column;
						flex-direction: column;
		-webkit-box-pack: center;
				-ms-flex-pack: center;
						justify-content: center;
    -webkit-box-align: center;
    		-ms-flex-align: center;
    				align-items: center;
    margin-top: 65px;
	}
} 

@media (max-width: 600px) {
	.h--1 {
		font-size: 43px;	
	}

	.h--2 {
		font-size: 40px;
	}

	.banner__text {
		font-size: 17px;
	}

	.price__info {
		font-size: 27px;
		margin-bottom: 5px;
	}

	.price__note {
		font-size: 10px;
		line-height: 15px;
	}
}

@media (max-width: 475px) {
	.header__top {
		padding: 26px 20px;
	}

	.header__menu {
		left: 20px;
	}

	.header__menu-button {
		width: 24px;
		height: 18px;
	}

	.header__phone {
		font-size: 18px;
	}

	.header__form {
		width: 26px;
		height: 26px;
		background-size: 11px;
	}

	.banner {
		display: flex; 
		flex-direction: column; 
		justify-content: center;
		padding-top: 56px;
	}

	.banner__wrapper {
		height: 100%;
	}

	.elements--active .elements__item-brace {
		top: 4%;
	}

	.elements--active .elements__item-id {
		top: 22%;
	}

	.elements--active .elements__item-tag {
		top: 1%;
	}

	.elements--active .elements__item-tag2 {
		display: none;
	}

	.elements--active .elements__item-div2 {
		top: 12%;
	}

	.banner__picture {
		height: auto;
	}

	.banner__image {
		width: 243px;
    height: 330px;
    position: relative;
		left: 21%;
	}

	#banner__bg {
		left: -20%;
    top: 39px;
    width: 645px;
    height: 355px;
	}

	.banner-info {
		padding-top: 13px;
	}

	.h--1 {
		font-size: 30px;
		margin-bottom: 8px;
	}

	.banner__text {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 1px;
		margin-bottom: 38px;
	}

	.banner__services {
		padding: 17px 72px;
	}

	.main__info {
		padding: 0;
		padding-top: 26px;
		margin-bottom: 112px;
	}

	.h--2 {
		font-size: 30px;
		margin-bottom: 40px;
	}

	.main__services {
		padding: 0;
		margin-bottom: 73px;
	}

	.service__item {
		max-width: 250px;
		font-size: 16px;
		line-height: 24px;
		padding-top: 72px;
	}

	.service__item--verstka {
		background-size: 61px 56px;
	}
	
	.service__item--adaptiv {
		background-size: 61px 56px;
	}
	
	.service__item--frontend {
		background-size: 60px 60px;
	}
	
	.service__item--coding {
		background-size: 61px 61px;
	}

	.main__price {
		font-size: 16px;
		padding: 17px 76px;
	}

	.main__slider  {
		margin-bottom: 69px;
	}

	.slider__h2 {
		padding: 0 52px;
	}

	.swiper-container {
		padding: 0 19px 40px;
		margin-bottom: 54px;
	}

	.swiper__img {
		margin-bottom: 40px;
	}

	.swiper-slide__desc {
		font-size: 18px;
		line-height: 25px;
	}

	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		margin: 0 8px;
	}

	.elements__item--white {
		display: none;
	}

	.price__text {
		padding: 45px 29px 42px 19px;
	}

	.price__info {
		line-height: 39px;
		margin-bottom: 36px;
	}

	.price__note {
		font-size: 15px;
		line-height: 29px;
	}

	.footer {
		padding: 47px 20px 44px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
				-ms-flex-direction: column;
						flex-direction: column;
	}

	.footer__menu {
		margin-bottom: 33px;
	}

	.menu__item--column {
		font-size: 15px;
		margin-bottom: 17px;
	}

	.contacts__items:first-child {
		margin-bottom: 16px;
	}
	
	.contacts__link {
		font-size: 20px;
		color: #8993ad;
	}

	.contacts__icon {
		font-size: 17px;
	}

	.line__break {
		display: none;
	}

	.footer__social {
		margin-top: 25px;
		-webkit-box-align: start;
				-ms-flex-align: start;
						align-items: flex-start;
	}

	.footer__form-button {
		padding: 17px 74px;
		margin-bottom: 50px;
	}

	.footer__copyright {
		font-size: 12px;
		padding: 20px 0 18px;
	}

	.form__container {
		display: none;
		width: 250px;
		height: 370px;
		margin: 0 auto;
		padding: 40px 30px;
		text-align: center;
		top: 20%;
		left: 50%;
		margin-left: -125px;
		z-index: 10;
	}

	.form__input {
		width: 200px;
	}
}
